.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.products .product img {
  height: 150px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
